@keyframes fadee {
    from {
        opacity: 0;
        transform: scale(0.9);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

/*/Fazer os campos se moverem da esquerda para direita/*/

form{
    overflow: hidden;
    animation: fadee 0.5s;
}

form .input-block:nth-child(1){
    animation: movee 500ms;
}

form .input-block:nth-child(2){
    animation: movee 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
}

form .btn-login{
    animation: movee 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;

}

@keyframes movee {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }to{
        opacity: 1;
        transform: translateX(0%);
    }
}

/*Quando clicar no botão logim formulario ir para baixo*/

.form-hide{
animation: down 1.2s forwards; /*para manter o estado final forwards*/
animation-timing-function: cubic-bezier();
animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);  /*nesta tarefa este foi o que eu adicionei*/
}

@keyframes down {
    from {
        transform: translateY(0);
    }to {
        transform: translateY(100vh);

    }
}



/*Remover do formulario o HTML e sumir com a barra de rolagem*/
/*este resolve tudo no javaScript*/


/*/////////////////////////////////////////*/
/*/////////////////////////////////////////*/
/*O de cima ja foi feito na pasta o1 e 02//*/
/*/////////////////////////////////////////*/
/*/////////////////////////////////////////*/


/*Adicionar um efeito diferente de taimer para a 
saida do formulario*/
/*
/// animation-timing-function: ease-in ////
///sair de vagar e sair rapido ease-in////
chegar rapido e chegarde vagar easse-out/
///e muito mais////
*/


/* fentro do form-hide so fiz uma chamada a mais EX: abaixo 
.form-hide{

    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
*/







