body{
    background: black;
    overflow: hidden;
}

/*squares*/

.squares li{
    width: 40px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.115);;
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
    }
    to{
        transform: translateY(-1000px) rotate(960deg);
        opacity: 0;
        
    }
}